<?php if (IS_LOGGED !== true) { ?> 
<div class="jumbo-1-sec position-relative">
        <div class="jumbo-overlay position-absolute"></div>
        <div class="container absolute-center height-inherit position-absolute">
            <div class="jumbo-wrapper height-inherit">
                <div class="logo">
                    <img src="img/logo-light.png" alt="logo">
                </div>
                <div class="text-block-1">
                    Carry Your Cinema Everywhere You Go!
                </div>
                <div class="jumbo-search">
                    <div class="btn-wrapper">
                        <div class="btn">Join Qiriwe</div>
                    </div>
                </div>
                <div class="text-block-2">
                    Sign In
                </div>
            </div>
        </div>
    </div>
    <div class="sec-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
<!--                    Text-sec-->
                    <div class="sec-heading">Grab Your Popcorns</div>
                    <div class="sec-content">There is always something for you. Why bother about monthly subscriptions when you can pay per movie and get exactly what you need?</div>
                </div>
                <div class="col-lg-6">
<!--                    img sec-->
                    <div class="img-wrapper">
                        <img src="img/sec-2-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!--                    img sec-->
                    <div class="img-wrapper">
                        <img src="img/sec-3-img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--                    Text-sec-->
                    <div class="sec-heading">Travel With Your Cinema</div>
                    <div class="sec-content">Whether at home, in the beach, office, classroom or even inside the toile… (don’t say that!), your cinema is always with you.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbo-4-sec position-relative">
        <div class="jumbo-overlay position-absolute"></div>
        <div class="container height-inherit absolute-center height-inherit position-absolute">
            <div class="jumbo-wrapper height-inherit">
                <div class="jumbo-4-heading">
                    Great Entertainment
                </div>
                <div class="text-block-1">
                    Thousands of blockbusters and originals from the world’s best producers you won't find anywhere else.
                </div>
                <div class="jumbo-search">
                    <div class="btn-wrapper">
                        <div class="btn">Join Qiriwe</div>
                    </div>
                </div>
                <div class="text-block-2">
                    Sign In
                </div>
            </div>
        </div>
    </div>
    <div class="sec-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <!--                    Text-sec-->
                    <div class="sec-heading">Data Saver</div>
                    <div class="sec-content">We understand data could be big budget for some of us and our videos are optimized to make sure they consume the minimum.</div>
                </div>
                <div class="col-lg-5">
                    <!--                    img sec-->
                    <div class="img-wrapper">
                        <img src="img/sec-5-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-6">
        <div class="container">
            <div class="sec-heading device-heading">Watch Everywhere</div>
            <div class="sec-content">You can stream Qiriwe on your web, android and iOS devices.</div>
            <div class="sec-device-wrapper">
                <div class="row align-items-end">
                    <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
                        <div class="img-wrapper tv">
                            <img src="img/sec-6-device-tv.png" alt="">
                        </div>
                        <div class="sec-6-content-wrapper">
                            <div class="sec-6-title">TV</div>
                            <div class="sec-6-content">
                                <ul class="sec-6">
                                    <li>Chromecast</li>
                                    <li>AppleTV</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
                        <div class="img-wrapper pc">
                            <img src="img/sec-6-device-lap.png" alt="">
                        </div>
                        <div class="sec-6-content-wrapper">
                            <div class="sec-6-title">Computer</div>
                            <div class="sec-6-content">
                                <ul class="sec-6">
                                    <li>Chrome OS</li>
                                    <li>MacOS</li>
                                    <li>Windows PC</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
                        <div class="img-wrapper phone">
                            <img src="img/sec-6-device-phone.png" alt="">
                        </div>
                        <div class="sec-6-content-wrapper">
                            <div class="sec-6-title">Mobile & Tablet</div>
                            <div class="sec-6-content">
                                <ul class="sec-6">
                                    <li>Android</li>
                                    <li>iPhone</li>
                                    <li>iPad</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbo-7-sec">
        <div class="container height-inherit">
            <div class="jumbo-wrapper height-inherit">
                <div class="text-block-1">
                    Watch thousands of movies and series on all your devices! You can Pay As You Go or rent.
                    .
                </div>
                <div class="jumbo-search">
                    <div class="btn-wrapper">
                        <div class="btn">Join Qiriwe</div>
                    </div>
                </div>
                <div class="text-block-2">
                    Sign In
                </div>
            </div>
        </div>
    </div>
    <div class="footer-1-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <ul class="footer-nav">
                        <li>Home</li>
                        <li>About</li>
                        <li>Privacy Policy</li>
                        <li>Disclaimer</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="smart-ph-btn">
                                <img src="img/google-play.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="smart-ph-btn">
                                <img src="img/app-store.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 social-buttons-left d-flex align-items-end justify-content-end">
                    <div class="social-buttons">
                        <i class="fa-brands fa-facebook icon-spacing"></i> <i class="fa-brands icon-spacing fa-square-instagram"></i>
                        <i class="fa-brands fa-twitter icon-spacing"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-copyright"> © Qiriwe Technologies LTD</div>
        </div>
    </div>
<?php } ?>
<?php if (IS_LOGGED == true) { ?>
<div class="page-margin">
	<div class="content">
		<div class="top-video">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="empty_state">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video-off"><path d="M16 16v1a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h2m5.66 0H14a2 2 0 0 1 2 2v3.34l1 1L23 7v10"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
						<h3>{{LANG no_videos_found_for_now}}</h3>
					</div>
					<?php if (PT_IsAdmin()): ?>
						<p><a class="btn btn-default" href="{{LINK admin-cp/import-from-youtube}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download-cloud"><polyline points="8 17 12 21 16 17"></polyline><line x1="12" y1="12" x2="12" y2="21"></line><path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path></svg> {{LANG import}}</a></p>
					<?php endif; ?>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<?php } ?>